@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
}

/** login **/
.loginform{
	border: 15px solid black;
	border-radius: 15px;
	padding: 5%;
	background: #000000;
}
.logologin{
	width: 60%;
}
/** fim do login **/

/** rodapé **/
